<!DOCTYPE html>
<html lang="en">
<head>
	<title>Android Based System for Assessment of Building Collapse</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Input Values
					</span>
					<br>
					<span class="login100-login100">
						{}
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="DD" min="1" max="10" placeholder="Defective design">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="DC" min="1" max="10" placeholder="Defective construction">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="USM" min="1" max="10" placeholder="Use of substandard materials">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="ABP" min="1" max="10" placeholder="Absence of building permit">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="NBP" min="1" max="10" placeholder="Non-Adherence to building plans">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="APS" min="1" max="10" placeholder="Absence of proper site or soil investigation">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="EII" min="1" max="10" placeholder="Engagement of ill-equipped, incompetent contractors">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="EIP" min="1" max="10" placeholder="Engagement of inexperienced personnel to take charge of construction of works">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="LPS" min="1" max="10" placeholder="Lack of proper supervision, inspection and monitoring of  construction works">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="IAS" min="1" max="10" placeholder="Illegal conversion, alteration and addition to existing structures">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="UIC" min="1" max="10" placeholder="Undue interference of client on building works">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="FF" min="1" max="10" placeholder="Foundation failures">
						<span class="focus-input100" ></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter number">
						<input class="input100" type="number" name="FO" min="1" max="10" placeholder="Foundation failures">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter number">
						<input class="input100" type="number" name="ND" min="1" max="10" placeholder="Natural disasters">
						<span class="focus-input100" ></span>
					</div>


					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit">
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
</body>
</html>